[submodule "kernel/linux-mainline"]
	path = kernel/linux-mainline
	url = https://aur.archlinux.org/linux-mainline
[submodule "kernel/linux-drm-tip-git"]
	path = kernel/linux-drm-tip-git
	url = https://aur.archlinux.org/linux-drm-tip-git
[submodule "kernel/linux-amd-drm-next"]
	path = kernel/linux-amd-drm-next
	url = https://aur.archlinux.org/linux-amd-drm-next.git
